doctype html
html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css", integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi", crossorigin="anonymous")
    link(rel="stylesheet", href="/styles/main.css")

  body
    div(class="container")
      nav(class="navbar navbar-full navbar-light bg-faded mb-2")
        a(class="navbar-brand", href="/") Maple Cloze Test
        block navbar-content

      div(class="container")
        div(class="row")
          block content
  script(src="http://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
  script(type="text/javascript", src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
  script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js", integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK", crossorigin="anonymous")

  block scripts