files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDBjCCAe4CCQCCep2AS9qz8DANBgkqhkiG9w0BAQUFADBFMQswCQYDVQQGEwJB
      VTETMBEGA1UECBMKU29tZS1TdGF0ZTEhMB8GA1UEChMYSW50ZXJuZXQgV2lkZ2l0
      cyBQdHkgTHRkMB4XDTE3MDMxNjIzMjIzNVoXDTE4MDMxNjIzMjIzNVowRTELMAkG
      A1UEBhMCQVUxEzARBgNVBAgTClNvbWUtU3RhdGUxITAfBgNVBAoTGEludGVybmV0
      IFdpZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
      AObrZv4AKLQ4yGj67n4NNTCKXPgCvehEvXUt+xVlh2Nm9ZLlgnmStIN8NSVySE7t
      vwH8EfHbZI5Guc+5eQnjwWi2zPyney+Xj6zuyhZNihQNDNFp8jrVPEMUCcio7sLA
      Y84whdXd0w/qL9JjXRBoELvzm7VXaFh35r3wk4PQrraJ8xJTcc2SyMlyY78X7EGA
      rflWBjEWrBDJfa6wudDS6UELmMkYdOrGwIIFQMO8nQyKkPRIjIYyhL+hB3NF4wI3
      mYQwbY/RYnuKCp2Iyr5vKFC4w4yeCwSdcsjIa2TyAxRFe/j0Qfu2QI9FXofrQ1vY
      TrMlCQsRe1cP0BupBJv9Lj8CAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAfDSx+4I+
      Qmm4Brd4k1ed4Yuc0Y9nAXvF6Bawz3p/10bVaGcESxKMPUhRVI7LjaJp8D9JhyWq
      WiMF6303qiMtMT6u8EKgjMiMdLKIlsZvyQDfldORP3+hyYkgvKV6/BlOMsAgPvwl
      KFjB1/ZZjJhdxyPs+TYAKpFkDChKhFxgi8zsMbV7GhR0OFYBxqk3NAnhEdrTwqGC
      r5xuX2tBosDnBQ/ld6h0JUvQyulvXFlhFduTl8fo6DOSL3i3DwEiZMQNhSkXcZKN
      xOTfx4YvoRxwW3E6Bm2S+lUHGTHTfiFgTviJ0UjX/ZBVpeT6QWVzpYmjxqPR1tzj
      Ea7XGMW3WA6JgA==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEA5utm/gAotDjIaPrufg01MIpc+AK96ES9dS37FWWHY2b1kuWC
      eZK0g3w1JXJITu2/AfwR8dtkjka5z7l5CePBaLbM/Kd7L5ePrO7KFk2KFA0M0Wny
      OtU8QxQJyKjuwsBjzjCF1d3TD+ov0mNdEGgQu/ObtVdoWHfmvfCTg9CutonzElNx
      zZLIyXJjvxfsQYCt+VYGMRasEMl9rrC50NLpQQuYyRh06sbAggVAw7ydDIqQ9EiM
      hjKEv6EHc0XjAjeZhDBtj9Fie4oKnYjKvm8oULjDjJ4LBJ1yyMhrZPIDFEV7+PRB
      +7ZAj0Veh+tDW9hOsyUJCxF7Vw/QG6kEm/0uPwIDAQABAoIBAEc2o52DiQoDVPLj
      J/ehtRySHxexKMXfpRnlI0C2/ejO0L8LnpBFiPvfqzgwJVKKCVTgWtxej4U9FIKW
      LVi6b2QOs+ra76d+syVewt3b7dA/MgvHA5fXOO1q2ZWTW4ad9GmbFzscXMHUtAjK
      8eFkZnzAJO3o1doqp/M9pRCKo8bQ8BQXEmAfR55JGXcuJEqg7N3YJfWBwvjKsrjW
      Bws/yI5j8cGSR+fmBLE4wyn8ZZeYm4JiKsDUhKfw2oaJNWFvZYjKnQdHoRyM6xe6
      l26vJojt3xLomr7BJeX6LQoSEvzyw/oDdYNC1wPaBuvyvyMskOc5q2m0GXykFyuC
      z/cTBaECgYEA/huMX5RBaIYbFgLiA9GpboGnMQDARmXv2kbpwqcBczWEiNgu8n9B
      vJmNwlmoaIP49dAlfE+iQJbO+reSgZ4P1WIGLyWRw/AMH7V4A8DnBYF7mJ4BHRHT
      ld4GIhRB4NbvSAfFozNw1N4WbVjqBDsuFmqpctEVTHez+GLrbEG9PJECgYEA6KOl
      dh8AY/rUYyAKCdDP0bQjq3uaxtyyTX7LkJzoMyBbgDJSIKvdnygfR8MdzIrsFJ/a
      fvfJG1R2XVmG7CsiWGdST1A19mwAvYo/7qHyULydPfjwrxSlp3nc1bs/rlRRD7Ga
      pSG3c9crVce9ev1nzyEr+HmNFX4MY5A72PPUZc8CgYB36+ZegSgxPQDxbWDe7oao
      mVWfIbycPKVqfQb7Dzf2+C3ZKzVUykvqxwkIzKlW0dmfoKDgPvDSzJlX52Sj+UV9
      rao/e9qD/vipykmec95TUd1TlFXwMyaI1uRMFwVUJ/t7Iffa4n8AZuNsrYabgpZo
      i+P2RMhpcyCjO4PhblDxkQKBgBjTrgrHEDGbSSMy/h9CC4ujn9LjJAdo8hZXG75Z
      IGakY19w/1bBQKuFiqEL75gukzc4QAcgxnOGNgOMVFvL1qR8kkookzmzGPkhUeVT
      nxqCpn1And7xYyRWWvzsOMWP9f6ow4ov6PYR1mwXHt+LP5LZRWoE/st2YjgV4m0q
      yFX9AoGABY9Y0vLsyM1oR2MB39rq+fwWppbXEhQo3xbe1rhF1fDQkgrjwXBPDxl8
      wDCT0TI2bUY1qJ42ue5wedeq4tqAa2SBTK+GJHaq815VcS3W+rtfNkBDI/TFqON2
      cfF4FLdL5OJF8ecFGj4A83RdPTltIFNteE2qF8giQkv989RseJw=
      -----END RSA PRIVATE KEY-----